
div {
    display: flex;
    justify-content: center;
}

img {
    width: 210px;
    height: 210px;
}
button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 14px; 
    margin: 5px 0; 
    cursor: pointer; 
    border-radius: 5px; 
}

button:hover { 
    background-color: blue; 
}
    